* {
    margin: 0;
    padding: 0;
}

body {
    
}

.content {
    min-height: 100vh;
   
}

.left {
    background:  url(./firefox.jpg);
    background-repeat:no-repeat;
    height:100vh;
    width:40vw;
    background-size: 40vw 100vh;
   
}