* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,*:focus,*:hover{
    outline:none;
}

a {
    text-decoration: none;
    outline: none;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
}

.content {
    display: flex;
    min-height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    background:  url(./firefox.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;
    width:35vw;
}

.logo-container{
    display: flex; 
    height: 10rem;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 10rem;
    margin-top: 25vh;
    
    justify-content: center;
    align-items: center;
}

.logo-container > :first-child {
    margin-top: 2rem;
    height: 12rem;
    color: white;
}








.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9fafb;
    gap: 5rem;
}

.right-text{
    font-size: 1.5rem;
    max-width: 70%;
    font-weight: bold;
    padding: 1rem 2rem 2rem;
}


.form-container {
    display: flex;
    background-color:white ;
    box-shadow: 0px 3px 12px grey;
    flex-direction: column;
    padding: 1rem 2rem 2rem;
      
}

.form-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.form-container-fields {
    display: flex;
    gap: 5rem;
}

.form-container-fields > div > div {
    display: flex;
    flex-direction: column;
}

.right-form-left, .right-form-right {
    width: 35%;
}

.right-form input {
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 3px ;
    border: 1px solid #D6D9DC;
    padding: 7px;
}


.right-form input:focus {
    border-color: blue;
    box-shadow: 0px 3px 5px grey;
}

.right-form input:invalid:focus {
    border-color: red;
    box-shadow: 0px 3px 5px grey;
}



.submit-container {
    padding: 1rem 2rem 2rem;
}
.form-submit {
    
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border: none;
    border-radius: 5px;
    color: white;
    width: 220px;
    height: 40px;
    font-size: 18px;
    box-shadow: 0px 3px 5px grey;
    background-color: orange;
    cursor: pointer
}

.form-submit:active {
    background-color: black;
}

.submit-container-text > a:link {
    color: orange;
}


.filter-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(137deg) brightness(104%) contrast(101%);
}


.logo-text{
    color: white;   
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
    -webkit-appearance: none;
    appearance: none;
}





@media only screen and (max-width: 600px)  {
    .content{
        flex-flow: column;
        height: auto;
        text-align: center;
    }


    .left {
        width: 100vw;
        height: 20vh;
    }

    .logo-container {
        margin-top: 0px;
        height: auto;
      
    }

    .right {
        align-items: center;
    }

    .right-text{
        text-align: center;
    }

    .right-form {
        width: 100vw;
    }
    .form-container-fields {
        flex-flow: column;
    }

    .right-form-left, .right-form-right {
        width: auto;
    }

  
}