* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

.content {
    display: flex;
    min-height: 100vh;
   
}

.left {
    display: flex;
    flex-direction: column;
    background:  url(./firefox.jpg);
    background-repeat:no-repeat;
    height:100vh;
    width:35vw;
    background-size: 40vw 100vh;  
}

.logo-container{
    display: flex;
    height: 10rem;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 10rem;
    margin-top: 25vh;
    justify-content: center;
    align-items: center;
}

.logo-container > :first-child {
    margin-top: 2rem;
    height: 12rem;
    color: white;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9fafb;
}

.right-text{
    font-size: 5rem;
    max-width: 70%;
    font-size: 1.5rem;
    font-weight: bold;
   
   
    
}

.right-form {
    background-color:white ;
    box-shadow: 0px 3px 12px grey;

    
}

.form-container {
    display: flex;
}



.right-test{

}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(137deg) brightness(104%) contrast(101%);
}


.logo-text{
    color: white;   
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
    -webkit-appearance: none;
    appearance: none;
}